root = true;

[*]
end_of_line = crlf;

[*.cs]
indent_style = space;
indent_size = 4;
insert_final_newline = false;
trim_trailing_whitespace = true;

## IDE

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = true:warning

# IDE0049: Simplify Names
dotnet_style_predefined_type_for_member_access = false

# IDE0090: Use 'new(...)'
csharp_style_implicit_object_creation_when_type_is_apparent = false