<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <settings>
    <repositoryPath>$(SolutionDir)\packages</repositoryPath>
  </settings>
  <packageRestore>
    <!-- Allow NuGet to download missing packages -->
    <add key="enabled" value="True" />
    <!-- Automatically check for missing packages during build in Visual Studio -->
    <add key="automatic" value="True" />
    <packageSources>
      <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
    <activePackageSource>
      <!-- All non-disabled sources are active -->
      <add key="All" value="(Aggregate source)" />
    </activePackageSource>
  </packageRestore>
</configuration>