<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="portable-net403+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="PCLCrypto" version="0.5.2.14286" targetFramework="portable-net403+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
  <package id="Validation" version="2.0.5.14286" targetFramework="portable-net403+sl50+win+wp80+MonoAndroid10+xamarinios10+MonoTouch10" />
</packages>