<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.11.0" targetFramework="net461" />
  <package id="Fare" version="2.1.2" targetFramework="net472" />
  <package id="FluentAssertions" version="5.9.0" targetFramework="net472" />
  <package id="Microsoft.CodeCoverage" version="16.4.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>